### JWT 설정 ###

JWT_SECRET_KEY = "..."
JWT_ACCESS_TOKEN_EXPIRE_MINUTS = 30
JWT_REFRESH_TOKEN_EXPIRE_DAYS = 1

### 이메일 설정 ###

EMAIL_USER = ..."
EMAIL_APP_PASSWORD = "..."
EMAIL_SMTP_SERVER = "..."
EMAIL_SMTP_PORT = 587
EMAIL_USE_SSL = True

### 카카오톡 설정 ###

KAKAO_REST_API_KEY = "..."
KAKAO_CLIENT_SECRET = "..."
KAKAO_REDIRECT_URI = "..."

### 구글 로그인 설정 ###

GOOGLE_CLIENT_ID = "..."
GOOGLE_CLIENT_SECRET = "..."
GOOGLE_REDIRECT_URI = "..."


### 인증번호 설정 ###

CERTIFICATION_CODE_EXPIRE_MINUTES = 5
CERTIFICATION_CODE_LENGTH = 6

### SQL DB ###

### SSH 터널링 ###

DB_TYPE = "POSTGRESQL" # "MARIADB" or "POSTGRESQL"
DB_HOST = "..."
DB_PORT = 5432
DB_NAME = "..."
DB_USER = "..."
DB_PASS = "..."
DB_RECONN_TIMEOUT = 5

### SSH 터널링 설정 ###
# 로컬 개발 환경에서만 True 설정
# CI/CD 환경이나 서버에서는 False로 설정
SSH_TUNNEL_ENABLED = True
SSH_HOST = "..."
SSH_PORT = ...
SSH_USER = "..."
SSH_PASSWORD = "..."
SSH_KEY_PATH = "..."
REMOTE_DB_HOST = "..."
REMOTE_DB_PORT = 5432

### REDIS ###

RD_HOST = "..."
RD_PORT = "6379"
RD_PART = 0
RD_PASS = "..."

### INTERNAL SETTINGS ###

PRODUCTION_MODE=False
DEBUG_MODE=0
API_PREFIX="v1"

### SYSTEM ###
DEV_PORT=52170
PRD_PORT=52170